/* -*- css-indent-offset: 2 -*- */

* {
  -webkit-user-select: none;
}

body {
  background-image: url('../assets/images/htmlbg.png')
}

.files {
  padding: 0;
  margin: 0;
}

.icon-view .file {
  padding: 2px;
  margin: 2px;
  width: 80px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.list-view .file {
  margin: 2px;
  width: 100%;
}

.file.focus {
  background-color: #08C;
  -webkit-border-radius: 4px;
}

.icon-view .file .name {
  width: 80px;
  word-wrap: break-word;
}

.list-view .file .name {
  width: 50%;
  word-wrap: break-word;
  display: inline-block;
  -webkit-padding-start: 4px;
}

.file.focus .name {
  color: white;
}

.icon-view .file .icon {
  margin: auto;
  margin-top: 0;
  width: 60px;
}

.list-view .file .icon {
  margin-top: 0;
  width: 20px;
  display: inline-block;
}

.file.focus .icon {
  -webkit-filter: invert(20%);
}

.icon-view .file .size,
.icon-view .file .type,
.icon-view .file .mtime {
  display: none;
}

.list-view .file .size {
  width: 10%;
  display: inline-block;
}

.list-view .file .type {
  width: 10%;
  display: inline-block;
}

.list-view .file .mtime {
  width: 20%;
  display: inline-block;
}

/* text-truncate with ellipsis */
.file * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

img {
    width: 100%;
}

#addr-and-files {
    float: left;
    position: absolute;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 50px;
}

#files-row {
    background: #FFF;
    -webkit-border-radius: 2px;
    margin: -5px 1px 0 -15px;
    height: 100%;
    overflow: auto;
}

#files {
    margin: 5px;
    /* overrides user agent setting */
    -webkit-padding-start: 0px;
}

.nav-header {
    font-weight: bolder;
}

body > div {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

#nav-and-mainview {
    float: left;
    width: 160px;
    padding: 8px;
}
